.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  min-height: 539px;
  background-color: rgb(28, 28, 33);
  border-radius: 40px;
  z-index: 5;
  text-align: center;
}

.modal__close-icon {
  position: absolute;
  right: 40px;
  top: 60px;
  cursor: pointer;
}

.modal__titleText {
  width: 580px;
}
